body {
  font-family: Rajdhani;
  background: #f9f7fe;
  margin-top: 100px;
}

h1 {
  font-size: 35px;
  margin-bottom: 0;
  font-weight: 500;
}

h2 {
  font-size: 60px;
}

li {
  position: relative;
  left: 10px;
  list-style: none;
}

hr {
  height: 1px;
  background-color: #606470;
  border: none;
}

.github-link {
  margin: 0 auto;
  width: 490px;
}

.github-link a {
  text-decoration: none;
}
.github-link a:hover {
  text-decoration: underline;
}

.weather-app {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 15px;
  padding: 30px;
  margin: 50px auto 8px auto;
  max-width: 500px;
  background-image: url("../images/background 3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px #e9ecef;
}

.search-city {
  margin-bottom: 32px;
  margin-top: 16px;
}

.search-input {
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 0px 8px 10px;
  margin-top: 15px;
}

.row-two {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(134, 127, 130, 0.1);
  padding-top: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.weather-icon {
  width: 35px;
}
.weather-icon-large {
  display: block;
  margin: 0 auto;
  width: 110%;
}

.conditions {
  position: relative;
  left: 20px;
  top: -10px;
  font-size: 16px;
}

.weather-forecast {
  display: flex;
  text-align: center;
  background-color: rgba(134, 127, 130, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.weather-forecast .column-one {
  line-height: 30px;
  padding: 1px;
}
.weather-forecast .column-two {
  line-height: 30px;
  padding: 1px;
}
.weather-forecast .column-three {
  line-height: 30px;
  padding: 1px;
}
.weather-forecast .column-four {
  line-height: 30px;
  padding: 1px;
}
.weather-forecast .column-five {
  line-height: 30px;
  padding: 1px;
}
.weather-forecast .column-six {
  line-height: 30px;
  padding: 1px;
}

.temperature-min{
  opacity:0.6;
}

.main-temp {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;
  right: -20px;
}

.main-temp h2 {
  margin: 0 auto;
  line-height: 1;
}

.form-control {
  background: #f9f7fe;
}

.form-control {
  padding: 8px;
}

.main-temp .units a {
  font-size: 17px;
  text-decoration: none;
  position: relative;
  top: 3px;
  left: -10px;
}

.main-temp .units span {
  position: relative;
  top: 3px;
  left: -10px;
}

.main-city {
  position: relative;
  top: -5px;
  left: 15px;
}

#weather-description::first-letter {
  text-transform: capitalize;
}

#weather-description {
  line-height: 1;
}

.main-temp .units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.main-temp .units .active:hover {
  text-decoration: none;
}
